	/*
  	contact icon font: contact
  	Creation date: 23/03/2017 14:55
  	*/

@font-face {
  font-family: "contact";
  src: url("../fonts/contact.eot");
  src: url("../fonts/contact.eot?#iefix") format("embedded-opentype"),
       url("../fonts/contact.woff") format("woff"),
       url("../fonts/contact.ttf") format("truetype"),
       url("../fonts/contact.svg#contact") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "contact";
    src: url("../fonts/contact.svg#contact") format("svg");
  }
}

[class^="contact-"]:before, [class*=" contact-"]:before,
[class^="contact-"]:after, [class*=" contact-"]:after {   
	font-family: contact;
}

.contact-culture:before { content: "\f100"; }
.contact-chauffeur:before { content: "\f101"; }
.contact-automatic:before { content: "\f102"; }
.contact-city-center:before { content: "\f103"; }
.contact-parking:before { content: "\f104"; }
.contact-hottub:before { content: "\f105"; }
.contact-nightlife:before { content: "\f106"; }
.contact-gastronomy:before { content: "\f107"; }
.contact-vehicles:before { content: "\f108"; }
.contact-spa:before { content: "\f109"; }
.contact-hotel:before { content: "\f10a"; }
.contact-apartment:before { content: "\f10b"; }
.contact-five-stars:before { content: "\f10c"; }
.contact-add:before { content: "\f10d"; }
.contact-calendar:before { content: "\f10e"; }
.contact-viber:before { content: "\f10f"; }
.contact-client:before { content: "\f110"; }
.contact-career:before { content: "\f111"; }
.contact-partner:before { content: "\f112"; }