/*
© Belgrade Luxury 2017
All rights reserved
*/
/* 
    Created on : Jan 17, 2017, 1:01:48 AM
    Author     : Bogdana
*/

/*******************************************************************************
 * 
 *                  TABLE OF CONTENTS
 *
 * 1. FONTS
 * 2. GENERAL
 * 3. CUSTOM
 * 4. BACKGROUNDS
 * 5. HEADER
 * 6. VIDEO SECTION
 * 7. ABOUT US SECTION
 * 
 *
 * 
 ******************************************************************************/


/*******************************************************************************
 * 
 *                  FONTS
 *  
 ******************************************************************************/
@import url('https://fonts.googleapis.com/css?family=Abel');
@import url('https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i&subset=latin-ext');
@import url('https://fonts.googleapis.com/css?family=Advent+Pro:200,300,400&subset=latin-ext');
@import url('https://fonts.googleapis.com/css?family=Dosis:300,400,500,600,700&subset=latin-ext');

@font-face {
  font-family: 'aspergit';
  src: 	url('../fonts/aspergit-webfont.eot'); /* IE9 Compat Modes */
  src: 	url('../fonts/aspergit-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
		url('../fonts/aspergit-webfont.woff2') format('woff2'),
		url('../fonts/aspergit-webfont.woff') format('woff'),
		url('../fonts/aspergit-webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
		url('../fonts/aspergit-webfont.svg#svgFontName') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'fontawesome';
  src: 	url('../fonts/fontawesome-webfont.eot'); /* IE9 Compat Modes */
  src: 	url('../fonts/fontawesome-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
		url('../fonts/fontawesome-webfont.woff2') format('woff2'),
		url('../fonts/fontawesome-webfont.woff') format('woff'),
		url('../fonts/fontawesome-webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
		url('../fonts/fontawesome-webfont.svg#svgFontName') format('svg'); /* Legacy iOS */
}

/*icons*/
.fa {
  display: inline-block;
  font: normal normal normal 14px/1 fontawesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin-right: 2px;
}
.fa-pulse {
  -webkit-animation: fa-spin 2s infinite;
  animation: fa-spin 2s infinite;
}
@-webkit-keyframes fa-spin {
  0% {
    -webkit-transform: translateY(-2px);
    transform: translateY(-2px);
  }
  50% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }
  100% {
    -webkit-transform: translateY(-2px);
    transform: translateY(-2px);
  }
}
@keyframes fa-spin {
  0% {
    -webkit-transform: translateY(-2px);
    transform: translateY(-2px);
  }
  50% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }
  100% {
    -webkit-transform: translateY(-2px);
    transform: translateY(-2px);
  }
}
.fa-angle-down:before {
  content: "\f107";
}
.fa-angle-up:before {
  content: "\f106";
}
.fa-envelope-o:before {
  content: "\f003";
}
.fa-phone:before {
  content: "\f095";
}


/*******************************************************************************
 * 
 *                  GENERAL
 *  
 ******************************************************************************/
body {
    font: 14px/22px 'aspergit', Raleway, sans-serif;
    font-weight: lighter;
    letter-spacing: 0.5px;
    line-height: 1.5em;
    background: black;
    color: #E5E4E2; // Platinum
    /*
    color: #E5E4E2; // Platinum
    color: #D1D0CE; // Gray Goose
    color: #D6D6D6;
    */
    font-size: 30px;
    overflow-x: hidden;
}
h1, h2 {
    letter-spacing: 0.4em;   
}
h3, h4, h5, h6 {
    letter-spacing: 0.2em;   
}
a {
    position: relative;
    text-shadow: none;
    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
    color: #CEAB4D; // yellow gold
    /*
    color: #CFA636; // zlatna boja sa logoa
    color: #CEAB4D; // blaza zlatna od one sa logoa
    color: #D3AB69; // darker gold 
    color: #DAB881; // lighter gold
    color: #DEC091; // lighter gold
    color: #CFA259; // darker gold    
    color: #D5AD6D; // lighter gold
    color: #BB9B69;
    color: #E8D181; // yellow gold
    */
    
}
a:hover,
a:focus {
    color: #E5E4E2;
    text-decoration: none;
}
// color of the selected text
::-moz-selection {
    background: #DAB881;
    color: #E5E4E2;
}
::selection {
    background: #DAB881;
    color: #E5E4E2;
}

/*******************************************************************************
 * 
 *                 CUSTOM
 *  
 ******************************************************************************/
.fullwidth {
    width: 100% !important;
}
.widescreen {
    min-height: 100%;
    height: 100vh;
    width: 100%;
    padding: 0;
    margin: 0;
    border: none;
}
.contain {
    width: 100%;
    height: 56.25vw;
    padding: 0;
    margin: 0;
    border: none;
}
.space-y-t,
.space-y {
    padding-top: 8vh;
}
.space-y-b,
.space-y {
    padding-bottom: 8vh;
}
@media screen and (max-width: 450px) {
    .space-y-t,
    .space-y {
        padding-top: 6vh;
    }
    .space-y-b,
    .space-y {
        padding-bottom: 6vh;
    }
}
section {
    position: relative;
    height: auto;
    width: 100%;
    z-index: 2;
    background: black;
}
.wrapper {
    height: 100%;
    width: 100%;
}
.container {
    width: 100%;
}
@media (min-width: 768px) {
  .container {
    padding: 0 15px;
  }
}
.ribbon {
   height: auto !important;
   background: black;
}
.overlay {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 3;
    width: 100%;
    height: 100%;
    //background: url(../images/subtle-dots.png) repeat;
}
.overlay:after {
    content: '\A';
    position: absolute;
    width: 100%;
    height: 100%;
    top:0; 
    left:0;
    background:rgba(0,0,0,0.3);
    opacity: 1;
}
.hero-holder {
    display: table;
    position: relative;
    width: 100%;
    height: 100%
}
.hero-inner {
    z-index: 3;
    display: table-cell;
    vertical-align: middle;
    position: relative;
    width: 100%;
}
.box-left,
.box-right {
    min-width: 50%;
    max-width: 50%;
    height: 100%;
    background: transparent;
    position: relative;
    overflow: hidden;
}
.box-right {
    float: right;
}
.box-left:before,
.box-right:before,
.box-left:after,
.box-right:after {
    background: black;
    content: "";
    position: absolute;
    display: block;
    z-index: 2;
    overflow: hidden;
    width: 100%;
}
.box-left:before,
.box-left:after {
    left: -22vw;
}
.box-right:before,
.box-right:after {
    right: -22vw;
}
@media screen and (max-width: 450px) {
    .box-left:before,
    .box-left:after {
        left: -25vw;
    }
    .box-right:before,
    .box-right:after {
        right: -25vw;
    }    
}
.box-left:before,
.box-right:before {
    top: 0%;
    height: 50.1%;
}
.box-left:after,
.box-right:after {
    top: 50%;
    height: 50%;
}
.box-left:before,
.box-right:after {
    -moz-transform: skew(30deg);
    -webkit-transform: skew(30deg);
    -ms-transform: skew(30deg);
    -o-transform: skew(30deg);
    transform: skew(30deg);
}
.box-left:after,
.box-right:before {
    -moz-transform: skew(-30deg);
    -webkit-transform: skew(-30deg);
    -ms-transform: skew(-30deg);
    -o-transform: skew(-30deg);
    transform: skew(-30deg);
}
a.btn {
    color: #E5E4E2;
    text-transform: uppercase;
    border-color: rgba(229,228,226,0.45);
    border-radius: 0;
    font-family: Abel, Raleway, sans-serif;
}
a.btn:hover {
    color: #E5E4E2;
    //background:
}

/*******************************************************************************
 * 
 *                 BACKGROUNDS
 *  
 ******************************************************************************/
.background-properties {
    background-attachment: fixed;
    background-repeat: no-repeat;    
    background-size: cover;
    background-position: top center;
    z-index: 2;
}
@media screen and (max-width: 767px) {
    .background-properties {
        background-attachment: scroll;
    }
}
.video-section.background-properties {
    background-image: url(../images/backgrounds/boxleft3.jpg);
}
#aboutus-panel-1.background-properties {
    background-image: url('../images/backgrounds/boxleft1.jpg')
}
#aboutus-panel-2.background-properties {
    background-image: url('../images/backgrounds/boxright2.jpg')
}

/*******************************************************************************
 * 
 *                 HEADER
 *  
 ******************************************************************************/
.menu.wrapper {
    height: auto;
    position: fixed;
    z-index: 9999;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
}
.toolbar {
    background: #0a0a0a;
    color: #E5E4E2;
    //border-bottom: 1px solid rgba(206, 171, 77, 0.45);
    position: relative;
    min-height: 25px;
    width: 100%;
    z-index: 9999;
    font-family: Abel, Raleway, sans-serif;
}
.toolbar div {
    line-height: 25px;
}
.toolbar ul {
    padding: 0;
    margin-bottom: 0;
    list-style: none;
}
.toolbar ul li {
    margin-left: 15px;
    float: left;
}
.toolbar .col-sm-5 a span {
    color: #E5E4E2;
}
.toolbar .col-sm-4 .col-xs-8 ul {
    float: right;
}
.navbar {
    position: relative;
    background: black;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
}
.navbar-header a.navbar-brand {
    padding: 10px 15px;
}
.navbar-header a.navbar-brand img {
    max-height: 30px;
}
.navbar-header a.navbar-brand,
.navbar-nav > li > a {
    color: #E5E4E2;
}
.navbar-header a.navbar-brand:hover, .navbar-header a.navbar-brand:focus,
.navbar-nav > li > a:hover, .navbar-nav > li > a:focus,
.nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
    background: transparent;
    color: #CEAB4D;
}
.dropdown-menu {
    font-size: 14px;
    text-align: left;
    background: #0a0a0a;
    border: none;
    border-radius: 0px;
    box-shadow: none;
    -webkit-box-shadow: none;
}
.dropdown-menu > li > a {
    color: #E5E4E2;
    padding: 6px 10px;
    font-family: Abel, Raleway, sans-serif;
    font-weight: lighter;
    text-transform: lowercase;
    font-size: 0.95em;
    letter-spacing: 0.1em;
}
@media screen and (min-width: 768px) {
    .menu.wrapper {
        top: -25px;
    }
    .menu.wrapper:hover {
        top:0;
    }
    .toolbar--show {
        display: none;
    }
    .toolbar .col-sm-5 .col-xs-4 {
        padding-left: 30px;
    }
    .toolbar .col-sm-4 .col-xs-8 {
        padding-right: 30px;
    }
    .navbar .container {
        background: black;
    }
    .navbar-header {
        float: right;
    }
    .navbar-header a.navbar-brand img {
        display: block;
    }
    .navbar-header a.navbar-brand span {
        display: none;
    }
    .caret {
        display: none;
    }
    .dropdown:after {
        content: "";
        width: 0;
        height: 0;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        -webkit-transform: translateX(-50%);
        top: 35px;
        margin-left: 2px;
        vertical-align: middle;
        border-top: 4px dashed #CEAB4D;
        border-top: 4px solid \9;
        border-right: 4px solid transparent;
        border-left: 4px solid transparent;
    }
    .dropdown-menu {
        min-width: 100vw;
        position: fixed;
        display: block;
        top: 20px;        
        padding: 0 15px;
        transition: all 0.5s;
        -webkit-transition: all 0.5s;
        z-index: -1;
    }
    .open > .dropdown-menu {
        top: 51px;
    }
    .menu.wrapper:hover .open > .dropdown-menu {
        top: 76px;
    }
    .dropdown-menu li {
        float: left;
    }
    .dropdown-menu > li > a:hover,
    .dropdown-menu > li > a:focus {
        background: black;
        color: #CEAB4D;
    }
}
@media screen and (max-width: 767px) {    
    .menu.wrapper {
        top: -50px;
    }
    .menu.wrapper.expanded {
        top: 0px;
    }
    .toolbar .toolbar--show {
        display: block;
        line-height: 20px;
        font-size: 1.5em;
    }    
    .toolbar .col-sm-5 .col-xs-8 {
        text-align: right;
    }
    .navbar-header a.navbar-brand {
        padding: 15px 15px;
    }
    .navbar-header a.navbar-brand img {
        display: none;
    }
    .navbar-header a.navbar-brand span {
        display: block;
    }
    .navbar-toggle {
        border-radius: 0;
        border: 1px solid rgba(206, 171, 77, 0.45);
    }    
    .navbar-header span.icon-bar {
        background: #E5E4E2;
    }    
    .navbar-fixed-top .navbar-collapse,
    .navbar-fixed-bottom .navbar-collapse {
        max-height: calc(100vh - 121px);
    }
    .dropdown-menu > li > a:hover,
    .dropdown-menu > li > a:focus {
        background: #0a0a0a;
        color: #CEAB4D;
    }
}

/*******************************************************************************
 * 
 *                 VIDEO SECTION
 *  
 ******************************************************************************/
.video-section {
    position: relative;
    overflow: hidden;
    //box-shadow: 0px 3px 20px 0px rgba(0, 0, 0, 0.55);
    //z-index: 4;
}
.video-section iframe::-webkit-media-controls {
  display: none;
}
.video-section iframe {  
    position: fixed;
    left: 0;
    top: 0;  
    width: 100vw;
    height: 56.25vw;   
    overflow: hidden;
    z-index: 2;
}
.video-section .box-right {
    height: 100.1%;
    min-width: 55%;
    max-width: 55%;
    overflow: visible;
}
.video-section .box-right:before {
    background: rgba(0,0,0,0.6);
    overflow-x: visible;
    height: 100.1%;
}
.video-section .box-right:after {
    background: transparent;
}
.video-section .hero-holder {
    width: 65%;
    float: right;
}
.video-section .hero-inner {
    vertical-align: bottom;
    bottom: 13%;
}
.video-section .hero-text {
    //margin-bottom: 13%;
    //padding-right: 15px;
    word-wrap: break-word; 
    box-sizing: border-box;
    line-height: 1em;
}
.video-section .quotes {
    display: none;
}
.video-section h1 {
    font-size: 0.9em;
    line-height: 1em;
    font-family: Abel, Raleway, sans-serif;
    letter-spacing: 0.1em;
    margin-bottom: 7px;
}
.video-section h2 {
    font-size: 2.2em;
    letter-spacing: 0.2em;
    line-height: 1.2em;
}
.video-section h2 span {
    color: #CEAB4D;
}
.video-section p {
    letter-spacing: 0.4em;
    font-size: 0.9em;
    margin-top: 7px;
    line-height: 1em;
}
.video-section .horizontal-line {
    background: #CEAB4D;
    opacity: 0.45;
    height: 1px;
    margin: 0 10%;
}
/* For portrait tablets */
@media screen and (min-height: 768px) and (orientation: portrait) {
    .video-section .box-right {
        min-width: 65%;
        max-width: 65%;
    }
    .video-section .box-right:before {
        height: 150.1%;
    }
}
/* Phone & Small Tablets */
@media screen and (max-width: 767px) {
    .video-section.background-properties {
        //background-position-y: 76px;
    }
    .video-section iframe {
        display: none;
    }
    .video-section .box-right {
        float: none;
        max-width: 100%;
    }
    .video-section .box-right:before {
        background: transparent;
    }
    .video-section .hero-holder {
        width: 100%;
    }
    .video-section .hero-text {
        padding: 0.1em 1em;
        background: rgba(0,0,0,0.6);
    }
}

/*******************************************************************************
 * 
 *                 ABOUT US SECTION
 *  
 ******************************************************************************/
.aboutus-section.ribbon img {
    max-width: 10vw;
    display: inline-block;
}
.aboutus-section.ribbon .description:before,
.aboutus-section.ribbon .description:after {
    content: "";
    background: #e5e4e2;
    height: 1px;
    position: absolute;
    display: block;
    width: 30%;
    top: calc(8vh + 32px);
}
.aboutus-section.ribbon .description:before {
    left: 0;
}
.aboutus-section.ribbon .description:after {
    right: 0;
}
@media screen and (max-width: 767px) {
    .aboutus-section.ribbon .description:before,
    .aboutus-section.ribbon .description:after {
        width: 23%;
        top: calc(8vh + 28px);        
    }
    .aboutus-section.ribbon h3 {
        font-size: 16px;
    }
}
@media screen and (max-width: 450px) {
    .aboutus-section.ribbon img {
        max-width: 20vw;
    }
    .aboutus-section.ribbon .description:before,
    .aboutus-section.ribbon .description:after {
        width: 15%;
        top: calc(6vh + 28px);
    }
    /*
    .aboutus-section.ribbon .description:before {
        left: 15px;
    }
    .aboutus-section.ribbon .description:after {
        right: 15px;
    }
    */
}
.aboutus-section.ribbon p {
    font-family: 'Abel';
    padding: 20px 15%;
}




.aboutus-section.panel .hero-holder {
   width: 60%; 
}



/*
.link-effect a::after {
	position: absolute;
	left: 0;
	width: 100%;
	height: 1px;
	background: #DAB881; // yellow gold
	content: '';
	opacity: 0;
	-webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
	-moz-transition: opacity 0.3s, -moz-transform 0.3s;
	transition: opacity 0.3s, transform 0.3s;
	-webkit-transform: translateY(-10px);
	-moz-transform: translateY(-10px);
	transform: translateY(-10px);
}

.link-effect a::after {
	bottom: 0;
	-webkit-transform: translateY(10px);
	-moz-transform: translateY(10px);
	transform: translateY(10px);
}

.link-effect a:hover,
.link-effect a:focus {
	color: #fff;
}

.link-effect a:hover::after,
.link-effect a:focus::after {
	opacity: 1;
	-webkit-transform: translateY(0px);
	-moz-transform: translateY(0px);
	transform: translateY(0px);
}
*/